{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Login</h2>
          <form id="loginForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_username">Username:</label>
              <input type="text" class="form-control" id="id_username" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="id_password">Password:</label>
              <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <span id="errorSpan" class="d-block text-center mt-3" style="color: red;"></span> <!-- Error message span -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('loginForm');
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      $.ajax({
        type: 'POST',
        url: '{% url "login" %}',
        data: $(this).serialize(),
        success: function (response) {
          if (response.success) {
              window.location.href = '{% url "list_items" %}'; // Redirect to dashboard upon successful login
          } else {
            $('#errorSpan').text(response.error); // Display error message on the login page
          }
        },
        error: function (xhr, status, error) {
          // Handle error response
          $('#errorSpan').text(xhr.responseJSON.error);
        }
      });
    });
  });
</script>
{% endblock %}
